################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.wsuo
*.json
/UnitTests/bin/Debug/net8.0/CoverletSourceRootsMapping_UnitTests
/UnitTests/obj/Debug/net8.0/UnitTests.AssemblyInfo.cs
/UnitTests/obj/Debug/net8.0/UnitTests.AssemblyInfoInputs.cache
/UnitTests/obj/Debug/net8.0/UnitTests.assets.cache
/UnitTests/obj/Debug/net8.0/UnitTests.GeneratedMSBuildEditorConfig.editorconfig
/UnitTests/obj/project.assets.json
/UnitTests/obj/project.nuget.cache
/UnitTests/obj/UnitTests.csproj.nuget.dgspec.json
*.db-shm
*.db-wal
*.cs
*.cache
*.editorconfig
*.props
*.targets
*.dll
*.a
*.so
*.dylib
*.Tests
/UrlGeneratorService/UrlGeneratorService.db
/UrlGeneratorService.Tests/bin/Debug/net8.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/UrlGeneratorService/UrlGeneratorService.db-shm
/UrlGeneratorService/UrlGeneratorService.db-wal
/UrlGeneratorService/README.md
